@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  min-height: 100vh;
  overflow-x: hidden;
  /* font-family: 'Pacifico', cursive; */
  font-family: 'Roboto slab', serif;
}

body{
  position : relative;
}

.main-container{
  min-height : 100%;
}



